page-ventas-cliente-am {
    .background{
      width: 100%;
      height: 100%;
      background: #d5eaff;
  }
    .scroll-content{
      text-align: center;
    }
form{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #93c9ff;
    padding: 10px;
}
ion-list{
    border-radius: 10px;
}
}
