<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
    <button *ngFor="let but of buttonsMenu" ion-button round small color="toolbarBtn" (click)="onButtonClick(but.page)" icon-left>
      <ion-icon name="{{but.iconName}}"></ion-icon>
      {{but.title}}
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-item *ngIf="isDownload">
    <ion-spinner name="circles" item-start></ion-spinner>
    {{msgDownload}}
  </ion-item>
</ion-footer>